$font-brand: 'Righteous', cursive;
$font-brand2: 'Russo One', sans-serif;

.navbar-brand {
  font-family: $font-brand !important;
  font-size: 3em;
}

.brand {
  h1 {
    font-family: $font-brand2;
    font-size: 4em !important;
    font-weight: 200 !important;
  }
}

.tab-space {
    padding: 70px 0 50px 0px;
}

.tengah {
  position: absolute;
  left: 45% !important;
  margin-left: -50px !important;
  display: block;
}

.tbl-pad {
  min-width: 150px;
}

.bundar {
  background-color: #9c27b0;
  color: #fff;
  min-width: 500px;
  min-height: 500px;
  max-width: 500px;
  max-height: 500px;
  border-radius: 50%;
  height: 100%;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 50px !important;
  margin: 50px !important;

  img {
    max-width: 100px;
  }
}

.laporan {
  .btn-xs {
    padding: 1px 7px;
  }
}

.protes {
  img {
    max-height: 200px;
  }
}

.footer {
  background-color: #9c27b0;
  margin-top: 50px;

  .credits {
    margin: 30px;
    color: #fff;
  }
}

.form-file-upload {
  .input-group {
    width: 100%;
  }

  .input-group-btn:last-child > .btn-round {
    border-radius: 30px;
  }
}

.form-control[disabled],
.form-control[readonly],
.form-group .form-control[disabled],
.form-group .form-control[readonly],
fieldset[disabled] .form-control,
fieldset[disabled] .form-group .form-control {
  background-color: transparent;
}

.form-group .form-control {
  margin-bottom: 7px;
}

.form-control,
.form-group .form-control {
  border: 0;
  background-image: linear-gradient(#9c27b0,#9c27b0),linear-gradient(#D2D2D2,#D2D2D2);
  background-size: 0 2px,100% 1px;
  background-repeat: no-repeat;
  background-position: center bottom,center calc(100% - 1px);
  background-color: transparent;
  transition: background 0s ease-out;
  float: none;
  box-shadow: none;
  border-radius: 0;
  font-weight: 400;
}

.input-group .input-group-btn {
  padding: 0 12px;
}
